@import "../../scss/app.scss";

#TabsComponent {
  section {
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    article {
      box-sizing: border-box;
      border-radius: 1rem;
      &.tabs-item {
        padding: 1rem 0;
        h2 {
          color: map-get($color, 0);
          font-size: 1.3rem;
          font-weight: 500;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 0.9rem;
          line-height: 1.7rem;
        }
      }
      &.tabs-image {
        background-size: cover;
      }
    }
  }
}
