@import "../../scss/app.scss";

#HeaderComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: map-get($color, 0);
  z-index: 99;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  header {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    div.logo {
      padding: 0 2rem;
      display: grid;
      align-content: center;
      img {
        box-sizing: border-box;
        width: 12rem;
      }
    }
    nav {
      display: grid;
      grid-template-columns: repeat(7, auto);
      align-items: center;
      a {
        height: 100%;
        &:first-child {
          svg {
            margin: auto !important;
          }
        }
        svg {
          font-size: 1.1rem;
          display: inline-block;
          margin: auto;
          margin-right: 1rem;
        }
        &:first-child {
          grid-row: 1 / span 2;
          display: grid;
          align-items: center;
          text-align: center;
          padding: 0 2.5rem;
        }
        box-sizing: border-box;
        border-left: 1px dotted map-get($color, 1);
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: block;
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        font-weight: 500;
        display: inline-block;
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13) {
          border-top: 1px dotted map-get($color, 1);
        }
        &:last-child {
          background-color: map-get($color, 1);
          &:hover {
            background-color: #000000;
          }
        }
        &:hover {
          background-color: map-get($color, 1);
        }
      }
    }
  }
}
