@import "../../scss/app.scss";

div#SliderComponent {
  div.slider {
    div.slide {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      div.caption {
        width: 1000px;
        margin: auto;
        text-align: center;
        padding: 20rem 0 15rem 0;
        h2 {
          font-size: 3.3rem;
          font-weight: bold;
          line-height: 5rem;
          color: #ffffff;
          color: white;
          text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
        }
        .dropdown {
          .Dropdown-root {
            position: relative;
            width: 400px;
            margin: 2rem auto;
          }

          .Dropdown-control {
            position: relative;
            overflow: hidden;
            background-color: map-get($color, 1);
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 1rem;
            box-sizing: border-box;
            color: #ffffff;
            cursor: default;
            outline: none;
            padding: 1rem 3rem;
            transition: all 200ms ease;
            &:hover {
              background-color: map-get($color, 0);
            }
          }

          .Dropdown-menu {
            border-radius: 1rem;
            background-color: map-get($color, 1);
            font-size: 1.2rem;
            font-weight: bold;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            margin-top: 0.2rem;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 1000;
            -webkit-overflow-scrolling: touch;
          }

          .Dropdown-menu .Dropdown-group > .Dropdown-title {
            padding: 8px 10px;
            color: #ffffff;
            font-weight: bold;
            text-transform: capitalize;
          }

          .Dropdown-option {
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: block;
            border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
            padding: 1rem 0;
            &:last-child {
              border-bottom: none;
            }
          }

          .Dropdown-option:last-child {
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
          }

          .Dropdown-option:hover,
          .Dropdown-option.is-selected {
            background-color: map-get($color, 0);
            color: #ffffff;
          }

          .Dropdown-noresults {
            box-sizing: border-box;
            color: #ccc;
            cursor: default;
            display: block;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}
